
@{
    ViewBag.Title = "Bio";
}

<h2><b>Bio</b></h2>

<h3 style="color:blue;"><b>@ViewBag.Name</b></h3>
<p> Mobile App Developer </p>

<h3 style="color:blue;"><b><u>Objective</u></b></h3>
           <p> @ViewBag.Summery</p> 


<h3 style="color:blue;"><b><u>@ViewBag.Details</u></b></h3>

<p><b>Father's Name:</b>  @ViewBag.FatherName</p>
<p><b>Mother's Name:</b>  @ViewBag.MotherName</p>
<p><b>Address      :</b>  @ViewBag.Address </p>
<p><b>Email        :</b> <span style="color:blue"> <u>@ViewBag.Email</u></p>
<p><b>Date of Birth:</b>  @ViewBag.DOB</p>



