
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<h3 style="color:blue;"><b><u>Education and Qualifications</u></b></h3>



    <table class="table-bordered" border="1" width="800" height="300" style="border-collapse:collapse">

        <tbody>

            <tr align="center">
                <td> @ViewBag.Y1 </td>
                <td> @ViewBag.Institution1</td>
                <td> @ViewBag.Department1 </td>

            </tr>

            <tr align="center">
                <td> @ViewBag.Y2 </td>
                <td> @ViewBag.Institution1 </td>
                <td> @ViewBag.Department2 </td>

            </tr>


            <tr align="center">
                <td> @ViewBag.Y3 </td>
                <td> @ViewBag.Institution2 </td>
                <td> @ViewBag.Division1 </td>

            </tr>

            <tr align="center">
                <td> @ViewBag.Y4 </td>
                <td> @ViewBag.Institution3 </td>
                <td> @ViewBag.Division1 </td>

            </tr>
        </tbody>
    </table>
<br>

