
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<h3 style="color:blue;"><b><u>Projects</u></b></h3>
<br />

<h4><b>Database :</b> @ViewBag.Project1</h4>
<h4><b>OOP1     :</b> @ViewBag.Project2</h4>
<h4><b>OOP2     :</b> @ViewBag.Project3</h4>
<h4><b>Software Engineering    :</b> @ViewBag.Project4</h4>
<h4><b>COA      :</b> @ViewBag.Project5</h4>


