@model List<Product_Vone.Models.Entities.Product>
@{ ViewBag.Title = "ShowCart"; }

<h2>Show Cart</h2>


@if (Session["cart"] != null)
{
    <a href="/Product/Confirm" class="btn btn-success">Confirm order</a>
    <br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
        
    </tr>
    @foreach (var sc in Model)
    {
    <tr>
     <td>@sc.Id</td>
     <td>@sc.Name</td>
     <td>@sc.Price</td>
     <td>@sc.Qty</td>
     <td>@sc.Des</td>
     <td><a href="/Product/Remove/@sc.Id" class="btn btn-danger">Remove From Cart</a></td>
</tr>
     }
    
</table>
}
else
{
<h1>Your cart is Empty</h1>           
}
